<div class="p-5 mb-4 bg-light rounded-3 text-center">

  <div class="container-fluid py-5 text-center" >

  <h1 class="display-5 fw-bold">ShinHaRin_TestPage</h1>
    <!-- display-n 에서 숫자가 작을수록 큰 글씨! -->

  <p>2021-2학기, 웹서버보안프로그래밍 실습 홈페이지</p>

    <button 
      class="btn btn-primary btn-lg"
      type="button" 
      routerLink="/register">
  회원가입
  </button>
  &nbsp;
  <button class="btn btn-success btn-lg" type="button" routerLink="/login">
  로그인
  </button>
  </div>
  </div>

  <div class="container">
    <div class="row text-center">
    <div class="col">
    <div class="card alert-dark" style="width: 18rem">
    <div class="card-body">
      <div class="nametagg" style="border: 3px solid; border-color: rgba(0, 0, 0, 0.3); background-color: rgba(0, 0, 0, 0.1);">
        <h5 class="card-title">My_Profile</h5>
        <h6 class="card-subtitle mb-2 text-muted">Shin Harin</h6>
      </div>  <br>
    <p class="card-text alert-success">
      이름: 신하린<br>
      나이: 2001년 11월생<br>
      학교: 중부대학교 정보보호학전공<br>
      취미: 음악듣기<br>
      관심있는 분야: 웹, 포렌식<br>
    </p>
    <hr>
    <div class="alert-success">
    <p>중부대학교 충청&고양캠퍼스 <br>통합 운영 홈페이지입니다.</p>
    <a href="https://www.joongbu.ac.kr/" class="card-link">중부대학교 홈페이지</a><br>
  </div><hr>
  <div class="alert-success" style="padding:10px;">
    <p>학교 수업을 들으면서, 수업내용을 정리한 블로그입니다.</p>
    <div class="alert-info" style="padding:10px; margin:10px;">
    <p class="alert-danger">2021-2</p>
    <p>웹서버보안프로그래밍</p>
    <p>보안알고리즘</p>
    <p>패킷분석 및 공격대응</p>
    <a href="https://antrin127.tistory.com/" class="card-link">Harin's Blog</a>
  </div>
  </div>
    </div>
    </div>
    </div>
    <div class="col text-center">
    <div class="card" style="width: 18rem">
    <div class="card-body">
      <div class="nametagg" style="border: 3px solid; border-color: rgba(0, 0, 0, 0.3); background-color: rgba(0, 0, 0, 0.1);">
        <h5 class="card-title">Team_Project</h5>
        <h6 class="card-subtitle mb-2 text-muted">Yuja_Discount</h6>
      </div><br>
    <p class="card-text">
      팀명: 유자할인마트<br>
      팀원: 박유진, 신하린<br><hr>
      <소개><br>나만의 버킷리스트를 작성하고, 친구와 함께 공유할 수 있는 특별하고 새로운 버킷리스트 홈페이지! 
    </p>
    <a href="#" class="card-link">유자할인마트 홈페이지</a><br><hr>
    <a href="#" class="card-link">###</a>
    </div>
    </div>
    </div>
    <div class="col">
    <div class="card alert-dark" style="width: 18rem">
    <div class="card-body">
      <div class="nametagg" style="border: 3px solid; border-color: rgba(0, 0, 0, 0.3); background-color: rgba(0, 0, 0, 0.1);">
        <h5 class="card-title">사이트</h5>
        <h6 class="card-subtitle mb-2 text-muted">도움되는 사이트</h6>
      </div><br>
    <p class="card-text">
    웹프로그래밍에 도움되는 사이트 List<br><hr>
    </p>
    <div class="alert-light" style="padding:10px; margin:10px;">
      <p class="alert-danger">부트스트랩</p>
      <p>*프론트엔드 개발을 빠르고 쉽게 할 수 있는 프레임 워크</p>
      <p>*HTML과 CSS 기반의 템플릿 양식, 버튼, 네비게이션 및 기타 페이지를 구성하는 요소가 포함됨</p>
      <p>*자바스크립트를 선택적으로 확장 할 수 있음</p>
      <p>*Github의 오픈 소스로 사용이 가능하며, 상업적 이용 가능.</p>
  
    <a href="https://getbootstrap.com/docs/5.1/getting-started/introduction/" class="card-link">Bootstrap</a>
  </div>
  <br><hr>
  <div class="alert-light" style="padding:10px; margin:10px;">
    <p class="alert-danger">W3Schools</p>
    <p>*초보자들이 참고하면 좋을만한 설명서*</p>
    <p> *html, css, javascript 용어와 관련된 많은 내용들이 정리되어 있다.</p>
    <a href="https://www.w3schools.com/html/default.asp" class="card-link">W3Schools</a>
</div>


    </div>
    </div>
    </div>
    </div>
    </div>
  